@using AlloyTraining.Models.Pages
@using AlloyTraining.Models.ViewModels
@using AlloyTraining.Business.ExtensionMethods

@model IPageViewModel<SitePageData>

<ul>
    <li>
        @Html.ContentLink(ContentReference.StartPage)
        <ul>
            @foreach(SitePageData page in Model.MenuPages)
            {
                <li>@Html.ContentLink(page.ContentLink)</li>
            }
        </ul>
    </li>
    <li>
        @if(User.Identity.IsAuthenticated)
        {
            <a href="/en/logout"> Logout @User.Identity.Name</a>
        }
        else
        {
            <a href="/util/login?ReturnUrl=@Model.CurrentPage.PageLink.ExternalURLFromReference()">Log in</a>
        }
    </li>
</ul>
